<%-include("partials/header")%>

<div class="container">
   <div id="top">
      <h2 id="title">IP Address Tracker</h2>

      <form id="search-form" action="/result" method="GET">
         <div id="input" class="input-group mb-3">
            <input type="text" name="domain" class="form-control" placeholder="Search for any IP address or domain" aria-label="IP address or domain" aria-describedby="button-addon2">
            <button class="btn btn-dark shadow-none" id="button-addon2" type="submit">Go</button>
         </div>
      </form>
   </div>
   <div id="data-container">
      <ul class="list-group list-group-horizontal">
         <li class="list-group-item flex-fill">
            <span class="data-title">IP Address</span>
            <h2 class="data">
               <% if(data != null){%>
                  <%=data.ip%>
               <%}%>
            </h2>
            <div class="vertical-border"></div>
         </li>
         <li class="list-group-item flex-fill">
            <span class="data-title">Location</span>
            <h2 class="data" style="padding-left: 5%;">
               <% if(data != null){%>
                  <%=data.location.city%> <span>,</span>
                  <%=data.location.region%> <%=data.location.postalCode%>
               <%}%>
            </h2>
            <div class="vertical-border"></div>
         </li>
         <li class="list-group-item flex-fill">
            <span class="data-title">Time Zone</span>
            <h2 class="data">
               <% if(data != null){%>
                  UTC <%=data.location.timezone%>
               <%}%>
            </h2>
            <div class="vertical-border"></div>
         </li>
         <li class="list-group-item flex-fill">
            <span class="data-title">ISP</span>
            <h2 class="data">
               <% if(data != null){%>
                  <%=data.isp%>
               <%}%>
            </h2>
         </li>
       </ul>
   </div>
   <div id="mapid"></div>
</div>
   
<script type="text/javascript">
   //func for manually clearing form after submitting
   var form = document.getElementById("search-form");
   form.addEventListener('submit', function(event){
      event.preventDefault();
      form.submit();
      form.reset();
   });

   //Data from api
   var api_data = '<%- JSON.stringify(data) %>';

   const mapbox_access_token = '<%- mapbox_key %>';
   var tiles = L.tileLayer(`https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=${mapbox_access_token}`, {
   attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
   maxZoom: 18,
   tileSize: 512,
   zoomOffset: -1,
  });

   //default values
   var lat = 42.3610;
   var lng = -71.0587;
   var zoom = 12;

   //There's data to retrieve
   if(api_data != 'null'){
      var data_json = JSON.parse(api_data);
      var loc = data_json.location;
      
      lat = loc.lat;
      lng = loc.lng;
   }
   var map = L.map('mapid')
   .addLayer(tiles)
   .setView([lat, lng], zoom);

   if(api_data != 'null')
      var marker = L.marker([lat, lng]).addTo(map);

   
</script>

<%-include("partials/footer")%>
   